node_modules
.nuxt
.output
.data
.git
.gitignore
*.log
.env
.env.*
!.env.example

# Tests
test
tests
playwright-report
test-results
playwright.config.ts
vitest.config.ts

# Divers
README.md
*.csv
.DS_Store
